.products{

}
.product-heading{
    display: flex;
    align-items: center;
    padding: 8px 155px;
    border-bottom: 1px solid var(--line-color);
}
.product-heading__label{
    font-size: 1.4rem;
    color: var(--sub-text-color);
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
}
.category-name{
    margin: 32px 0;
    font-size: 2.4rem;
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
}
.category{
    margin-top: 48px;
    background-color: var(--category-color);
    border-radius: 2px;
}
.category-heading{
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 16px 32px;
    margin: 0;
    color: var(--text-color);
    border-bottom: 1px solid var(--line-color);
}
.category-heading-icon{
    width: 15px;
    height: 15px;
    margin-right: 16px;
}
.category-list{
    margin: 0;
    padding: 12px 32px;
    list-style: none;
}
.category-list-item{
    font-size: 1.8rem;
    font-weight: 300;
    padding: 12px 0;
    color: var(--primary-color);
}
.category-list-item-selected{
    font-size: 1.9rem;
    font-weight: 500;
}
.category-promote{
    margin-top: 16px;
}
.category-promote-img{
    width: 100%;
    margin: 16px 0;
    border-radius: 2px;
}
.products-filter{
    margin: 24px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.products-select-type{
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    margin: 0 16px;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    color: var(--text-color);
}
.products-select-type__label{
    font-size: 1.3rem;
    line-height: 0;
}
.products-select-type__icon{
    font-size: 1.3rem;
}
/* Product Container */
.products-container{
}
.products-container-row{
    margin-top: 37px;
}
.products-container-item{
    display: flex;
    flex-direction: column;
}
.products-container-item__pic{
    position: relative;
    width: 100%;
    cursor: pointer;
}
.products-container-item-img{
    width: 100%;
    border-radius: 10px;
}
.products-container-item-heart{
    position: absolute;
    top: 16px;
    left: 16px;
}
.products-container-item__info{
    padding: 0 8px;
}
.product-name-box{
    height: 48px;
    margin: 16px 0 8px 0;
}
.product-name{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    margin: 16px 0;
    color: var(--text-color);
    cursor: pointer;
    margin: 0;
    line-height: 2.4rem;
}
.product-review{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}
.product-review-img{
    margin-right: 8px;
}
.product-review-number{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 0;
}
.product-price{
    font-size: 2rem;
    font-weight: 500;
    margin: 18px 0 0 0;
    text-align: center;
    color: var(--sub-text-color);
}
.btn_buy-now{
    margin-top: 24px;
    border: none;
}
.btn_buy-now:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
}
.products-page{
    margin-top: 16px;
    display: flex;
    width: 100%;
    min-height: 48px;
    justify-content: center;
    align-items: center;
}
.products-page-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 16px 20px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--white-color);
    background-color: var(--primary-color);
}
.products-page-btn:hover{
    background-color: #99B6A8;
}
.products-page-number{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
}